.wrapper {
    display: flex;
}

.form {
    width: calc(100vw - 300px);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
